@import url();

html,body{
    margin: 0px;
}


.layout{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
  
    width: 100vw;
    height: 100vh;
 
    
}
.header,.scoreBoard{
    color:#797B84
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 10px;
    background-color:#EDBBB4;
}

.scoreBoard,.gameContainer,.restart{
    background-color: #EDD2E0;

}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
}

.gameContainer{
    display: flex;
    justify-content: center;
    
}


.gameBoard{
    
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

}

.box{
    border-style: solid;
    border-color: #797B84;
    color: #BAA1A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 2rem;
}


.boxValues{
    font-size: 40px;
    font-weight: bold;
}

.top{
    border-top:none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.bottom{
    border-bottom: none;
}


.restart{
    display: Flex;
    justify-content: center;
    align-items: center;
    color: #EDD2E0;
}


.restart button {
    background-color: #BAA1A7;
    color: #797B84;
    border-color: #797B84;
    border-style: solid;
    padding: 30px;
    font-size: 1.25rem;
    border-radius: 16px;

    
}