@import url();

html,body{
    margin: 0px;
}


.layout{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
  
    width: 100vw;
    height: 100vh;
 
    
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 40px;
    background-color: bisque;
}


.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.gameBoard{
    
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

}


.box{
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}


.boxValues{
    font-size: 40px;
    font-weight: bold;
}

.top{
    border-top:none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.bottom{
    border-bottom: none;
}